pandas
ipykernel
pdfplumber
requests
python-dotenv
fastapi
uvicorn
tabulate
beautifulsoup4
python-docx
html2docx
langchain
langgraph
langgraph-prebuilt 
langchain_openai
langchain_experimental
jinja2
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gdown
langchain-core
playwright